.main {
    width: auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.editablediv {
    width: 95%;
    margin: 6px 0px;
    padding: 12px 9px;
    font-size: 27px;
    position: relative;
}

/* .editablediv::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
        background-color: var(--before-background-color, red);
} */

.featureDiv {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 12px;
    flex-wrap: wrap;
}

.addButton {
    margin: 6px 0px;
}

.infobtn {
    position: relative;
    cursor: pointer;
}

.infobtn::after {
    content: '\2139';
    position: absolute;
    color: rgb(0, 255, 242);
    top: -11px;
    right: -5px;
    font-size: 16px;
}

.underlineBtn {
    cursor: pointer;
}

.modalTitleDiv {
    width: 100%;
    padding: 6px;
}

.quizOptions {
    display: flex;
    gap: 12px 12px;
    flex-wrap: wrap;
}

.fullFlexWidth {
    flex-basis: 100%;
}

.quizButtonSetAnswerTrueStyle {
    border: 1px solid green;
}

.quizButtonSetAnswerFalseStyle {
    border: 1px solid grey;
}

.sliderMainDiv{
    margin: 30px 0px;
    padding: 15px;
    position: relative;
}
.sliderItem{
    padding: 12px 5px;
    margin: 9px 0px;
    border-bottom: 1px solid grey;
}
.sliderImgBoxDiv{
    width: 100%;
    height: 300px;
    /* background-color: red; */
}
.sliderImageInBox{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderCloseButton{
    position: absolute;
    top: -5px;
    right: 10px;
}

.rightOptionMain{
    /* display: none; */
    width: 150px;
    height: auto;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 1px rgb(107, 106, 106);
    background-color: white;
    color: black;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    display: none;
}

.rightOptionMain div{
    text-align: center;
    margin: 18px 6px;
    box-shadow: 1px 1px 2px 1px rgb(107, 106, 106);
    /* border: 1px solid white; */
    padding: 3px;
    cursor: pointer;
}

.rightOptionMain[data-clickmenuopened="false"] {
    /* display: none; */
    /* visibility: hidden; */
    /* background-color: green; */
}
.closemenu{
    /* display:  */
}
/* .rightOptionMain[data-clickmenuopened="true"] {
    background-color: red;
} */
